@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme {
    --transition-duration-pro: 0.25s;
}

* {
    font-family: "MuseoModerno", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

/* Estilos de formularios */
.container-form {
    @apply space-y-8 p-10 mt-4;

    button {
        @apply cursor-pointer w-full bg-blue-500 text-white p-2 rounded-md transition-colors duration-pro;

        &:hover {
            @apply bg-blue-600;
        }
    }
}

.container-input {
    @apply flex items-center border border-gray-200 rounded-md gap-4 pl-2;

    svg {
        @apply text-gray-500 size-6;
    }

    input {
        @apply w-full rounded-md p-2 focus:outline-none focus:bg-gray-100;
    }
}